[submodule "boxlite/deps/libkrun-sys/vendor/libkrun"]
	path = boxlite/deps/libkrun-sys/vendor/libkrun
	url = https://github.com/boxlite-ai/libkrun.git
[submodule "boxlite/deps/libkrun-sys/vendor/libkrunfw"]
	path = boxlite/deps/libkrun-sys/vendor/libkrunfw
	url = https://github.com/boxlite-labs/libkrunfw.git
[submodule "boxlite/deps/e2fsprogs-sys/vendor/e2fsprogs"]
	path = boxlite/deps/e2fsprogs-sys/vendor/e2fsprogs
	url = https://github.com/tytso/e2fsprogs.git
[submodule "boxlite/deps/bubblewrap-sys/vendor/bubblewrap"]
	path = boxlite/deps/bubblewrap-sys/vendor/bubblewrap
	url = https://github.com/containers/bubblewrap.git
